# Virtual environments
venv/
.env/

# Large data and model files
*.pkl
*.pt
*.csv
*.jsonl
*.h5
*.npy
*.npz

# Large binaries
*.dylib

# Jupyter and Python junk
.ipynb_checkpoints/
__pycache__/
.DS_Store
.env
