# Virtual environments
venv/
.env/

# Data and model files
*.pkl
*.pt
*.csv
*.jsonl
*.h5
*.npy
*.npz

# Large dependency files
*.dylib

# Jupyter auto-saves
.ipynb_checkpoints/

# macOS junk
.DS_Store
